body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

html {
    color: #000;
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
}

body,
button,
input,
select,
textarea {
    font-size: 12px;
    font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', '宋体', \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
    line-height: 1;
    margin: 0;
}

small {
    font-size: 12px;
}

li {
    text-align: left;
}

a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
    text-decoration: none;
}

legend {
    color: #000;
}

fieldset,
img {
    border: 0;
}

button,
input,
select,
textarea {
    color: inherit;
    font: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul,
dl,
ol {
    list-style: none;
    padding: 0;
}

input,
textarea,
select,
button {
    border: 0;
    outline: none;
}

img,
a img {
    font-size: 0;
    border: 0;
    vertical-align: middle;
}

i,
em {
    text-decoration: none;
    font-style: normal;
}

a {
    text-decoration: none !important;
    cursor: pointer;
    background-color: transparent;
}

textarea {
    overflow: auto;
    resize: vertical;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

img {
    -ms-interpolation-mode: bicubic;
    border: 0;
}

input {
    background: none;
    outline: none;
    border: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input:focus {
    border: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.overflow {
    overflow: hidden;
}

.hide {
    display: none;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.error {
    color: #F00;
    font-size: 12px;
}

label,
button {
    cursor: pointer;
}

.clearfix:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}

.wordwrap {
    word-break: break-all;
    word-wrap: break-word;
}

pre.wordwrap {
    white-space: pre-wrap;
}

body,
form {
    position: relative;
}

body {
    overflow: hidden;
}

td {
    text-align: left;
}

.ell-1 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ell-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.fs18 {
    font-size: 18px;
}

.fs20 {
    font-size: 20px;
}

.mb40 {
    margin-bottom: 40px;
}

.mt40 {
    margin-top: 40px;
}

.mb20 {
    margin-bottom: 20px;
}

.fb8500 {
    color: #FB8500;
}


/*
* 字体图标
*/

.iconfont {
    font-family: 'iconfont';
    display: inline-block;
    text-align: center;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'iconfont';  /* Project id 2709473 */
    src: url('//at.alicdn.com/t/font_2709473_ctrk93q44kq.woff2?t=1627549558243') format('woff2'),
         url('//at.alicdn.com/t/font_2709473_ctrk93q44kq.woff?t=1627549558243') format('woff'),
         url('//at.alicdn.com/t/font_2709473_ctrk93q44kq.ttf?t=1627549558243') format('truetype');
  }

.success {
    color: #3aa757;
}

.fail {
    color: #d45151;
}