.box-card {
  margin-top: 20px;
}

.el-card__header {
  span {
    font-size: 16px;
    font-weight: 600;
  }
}

.card-item {
  font-size: 0;
  margin-bottom: 10px;

  span {
    display: inline-block;
    font-size: 14px;
    color: #666;
    min-width: 120px;
    line-height: 28px;
  }

  p {
    width: calc(100% - 120px);
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    color: #222;
  }

  a {
    display: inline-block;
    width: calc(100% - 120px);
    margin-left: 0;
    line-height: 28px;
    color: #1a8cff;
    font-size: 14px;
    cursor: pointer;
  }
}

.card-item:hover {
  background-color: #f7f7f7;

  a {
    text-decoration: underline !important;
  }
}

.mine-item {
  margin: 20px 0;

  .el-input {
    width: 30%;
    display: inline-block;
  }

  .el-form-item__label {
    text-align: right;
    width: 80px;
  }
}

.input-wid {
  width: 193px;
}

/deep/ .el-input__inner {
  max-width: 320px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.line-input {
  display: inline-block;
  max-width: 320px;
}

.param-item {
  margin-top: 6px;
}

.showmore-txt {
  margin: 20px 0;
}

.xt-txt {
  margin-top: 10px;

  .input-txt {
    display: block;
    line-height: 22px;
  }
}

.submit-btn {
  text-align: center;
}

.editor-box {
  position: relative;

  .el-button {
    position: absolute;
    right: 20px;
    top: 8px;
    z-index: 3;
    padding: 6px 15px;
  }
}

#pro-editor {
  height: 350px;
}

/deep/ .w-e-text-container {
  z-index: 1 !important;
}

/deep/ .w-e-toolbar {
  z-index: 2 !important;
}

/deep/ .w-e-panel-container {
  display: none !important;
}

.list-group {
  margin-top: 10px;

  .input-txt {
    display: block;
    margin-left: 0;
    line-height: 20px;
  }
}

/deep/ .el-cascader .el-input .el-input__inner,
/deep/ .el-input--prefix .el-input__inner {
  width: 320px;
}

.upload-demo {
  display: inline-block;
}

.wid100 {
  width: 80% !important;

  /deep/ .el-input__inner {
    max-width: none;
  }
}
